<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="URF-8">
        <title>Login</title>
        <link th:href="@{/styles/registration-login.css}" rel="stylesheet" />
    </head>
    <body th:class="${activePanel != null ? activePanel : 'login'}">
        <div id="back">
            <div class="backRight"></div>
            <div class="backLeft"></div>
        </div>

        <div id="slideBox">
            <div class="topLayer">
                <div id = "registration" class="left">
                    <div class="content">
                        <h2>Sign Up</h2>
                        <form method="post" action="/registration" th:object="${new_user}">
                            <div class="form-group">
                                <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" th:errorclass="error"></div>
                                <input type="text" th:field="*{login}" placeholder="login" required/>
                            </div>
                            <div class="form-group"></div>
                                <div class="password">
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></div>
                                    <input type="password" th:field="*{password}" id="password-input" placeholder="password" required>
                                    <a class="password-control"></a>
                                </div>
                            <div class="form-group"></div>
                            <div class="form-group"></div>
                            <button id="goLeft" class="off" type="button">Login</button>
                            <button type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="content">
                        <h2>Login</h2>
                        <form method="post" action="/login" th:object="${user}">
                            <div class="form-group">
                                <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" th:errorclass="error"></div>
                                <input id="registration-login" th:field="*{login}" type="text" placeholder="login" required/>
                            </div>
                            <div class="form-group">
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></div>
                                <input id="registration-password" th:field="*{password}" type="password" placeholder = "password" required/>
                            </div>
                            <button id="goRight" class="off" type="button">Sign Up</button>
                            <button id="login" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Inspiration from: http://ertekinn.com/loginsignup/-->

        <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/registration-login.js}"></script>
    </body>
</html>